.container {
  background: #fff;
  border-radius: 12px;
  max-width: 1200px;
  margin: 32px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  @include respond-to-mobile {
    box-shadow: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;

    @include respond-to-mobile {
      padding: 16px 0;
    }

    &__title {
      @include typography(H1-M);
    }
  }

  &__list {
    list-style: none;
  }
}
