.header {
  width: 100%;
  box-shadow: 0px 9px 10px 0px rgba(232, 232, 232, 0.25);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;

    @include respond-to-web {
      max-width: 1200px;
    }
    @include respond-to-tablet {
      max-width: 642px;
    }
    @include respond-to-mobile {
      max-width: 360px;
    }

    &__logo {
      padding: 6px 0;
    }
  }

  &__isLogin {
    &__button {
      &__login {
        @include typography(H7);
      }
    }
  }
}
