.container {
  margin: 0 auto;
  max-width: 1200px;

  &__comment {
    padding: 24px 24px;
    background-color: #f9fafa;
    border: 1px solid #eeeff1;
    border-top: none;

    @include typography(Body-2);
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__username {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__createdAt {
      color: #a7a9b4;
    }
  }

  &__write {
    border-radius: 0 0 12px 12px;
    border: 1px solid #eeeff1;
    padding: 24px 24px;
    background-color: #ffffff;
    border-top: none;
    display: flex;
    gap: 12px;
    align-items: center;

    &__textarea {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #eeeff1;
      resize: none;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::placeholder {
        color: #a7a9b4;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
