@mixin typography($type) {
  @if $type == H1-l {
    font-size: 32px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -1.5%;
  } @else if $type == H1-M {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    line-height: 160%;
    letter-spacing: -0.3%;
  } @else if $type == H1-R {
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.3%;
  } @else if $type == H1-S {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == H1-XS {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == H7 {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
  } @else if $type == Title-M {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == Subtitle-L {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
  } @else if $type == Subtitle-M {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == Subtitle-S {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == Body-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.3%;
  } @else if $type == Body-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.3%;
  }
}
