$breakpoints-web: 1025px; // 웹: 1025px 이상
$breakpoints-tablet: 642px; // 태블릿: 642px ~ 1024px
$breakpoints-mobile: 360px; // 모바일 최소: 360px

$padding-web: 120px;
$padding-tablet: 30px;
$padding-mobile: 16px;
