.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #eeeff1;
  border-bottom: none;
  border-radius: 12px 12px 0 0;

  @include respond-to-mobile {
    padding: 12px 16px;
    border-top: none;
  }

  &__title {
    @include typography(H1-M);
    margin-bottom: 16px;

    @include respond-to-mobile {
      @include typography(H1-S);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__meta {
      display: flex;
      align-items: center;

      &__username,
      &__createdAt {
        @include typography(Body-2);
        color: #a7a9b4;

        @include respond-to-mobile {
          @include typography(Body-3);
        }
      }

      &__separator {
        margin: 0 12px;
      }
    }

    &__actions {
      display: flex;
      gap: 12px;

      &__edit,
      &__delete {
        @include typography(Body-2);
        color: #a7a9b4;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        @include respond-to-mobile {
          @include typography(Body-3);
        }
      }
    }
  }
}
