.container {
  &__subtitle {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 12px;
    @include typography(H1-S);
    color: #5e616e;

    @include respond-to-mobile {
      padding-top: 0px;
    }
  }

  &__title {
    @include typography(H1-l);
    color: #000000;
    text-align: center;
    padding-bottom: 40px;

    @include respond-to-mobile {
      padding-bottom: 24px;
    }
  }
}
